
<div class="header-nav-bar">
    <div class="container">

        <!-- Logo -->
        <div class="css-table logo">
            <div class="css-table-cell">
                <a routerLink="/">
                    <img src="./assets/img/header-logo.png" alt="">
                </a> <!-- end .logo -->
            </div>
        </div>

        <!-- Mobile Menu Toggle -->
        <a  routerLink="/" id="mobile-menu-toggle"><span></span></a>

        <!-- Primary Nav -->
        <nav *ngIf="isUserLoggedIn">
            <ul class="primary-nav">
                <li routerLinkActive="active">
                    <a routerLink="/">Home</a>
                </li>
                <li *ngIf="isUserLoggedIn" class="has-submenu" routerLinkActive="active">
                    <a routerLinkActive="active">Mes questionnaires</a>
                    <ul>
                        <li routerLinkActive="active"><a  [routerLink]="['/questionnaires','EnAttente']">questionnaires a répondre</a></li>
                        <li routerLinkActive="active"><a [routerLink]="['/questionnaires','Repondus']">questionnaires répondus</a></li>
                    </ul>
                </li>
                <li *ngIf="isUserLoggedIn" class="has-submenu" routerLinkActive="active">
                    <a routerLinkActive="active">Mes Demandes</a>
                    <ul>
                        <li routerLinkActive="active"><a [routerLink]="['/demandes','acceptedDmD']">Demandes acceptées</a></li>
                        <li routerLinkActive="active"><a [routerLink]="['/demandes','pendingDmD']">Demandes en attentes</a></li>
                        <li routerLinkActive="active"><a [routerLink]="['/demandes','rejectedDmD']">Demande refusées</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div> <!-- end .container -->

    <div id="mobile-menu-container" class="container">
        <div class="login-register"></div>
        <div class="menu"></div>
    </div>
</div> <!-- end .header-nav-bar -->