<div class="col-sm-4 page-sidebar">
    <aside>
        <div class="white-container mb0">
            <div class="widget sidebar-widget jobs-search-widget">
                <h5 class="widget-title">Que recherchez-vous ?</h5>

                <div class="widget-content">
                    <span>Intitulé Annonce</span>
                    <form #formSearch="ngForm"
                        (ngSubmit)="getAnnonces()">
                            <input [(ngModel)]="search.words"
                                    name="words"
                                    class="form-control mt10 mb10"
                                    type="text"
                                    placeholder="Intitulé"/>

                            <span>Date lancement d'expérience</span>

                            <input  [(ngModel)]="search.datedebut"
                                    #datedebut="ngModel"
                                    max="{{formSearch.value?.datefin}}"
                                    name="datedebut"
                                    type="date"
                                    class="form-control mt10"
                                    placeholder="Du">

                            <input [(ngModel)]="search.datefin"
                                    #datefin="ngModel"
                                    min="{{formSearch.value?.datedebut}}"
                                    name="datefin"
                                    type="date"
                                    class="form-control mt15 mb15"
                                    placeholder="Au">

                            <input type="submit" class="btn btn-default" value="Rechercher">
                    </form>
                </div>
            </div>


        </div>
    </aside>
</div> <!-- end .page-sidebar -->

<div class="col-sm-8 page-content">
    <div class="title-lines">
        <h3 class="mt0">Annonces disponibles</h3>
    </div>

    <div class="clearfix mb30">

        <select 
            class="form-control pull-left"
            #mySelect
            (change)='sortBy(mySelect.value)'
        >
            <option value="">Trier par</option>
            <option value="dateDebutPublication">Date Début Publication</option>
            <option value="dateFinPublication">Date Fin Publication</option>
            <option value="dateDebutRecherche">Date Début Recherche</option>
            <option value="dateFinRecherche">Date Fin Recherche</option>
        </select>

        <ul class="pagination pull-right">
                <li [ngClass]="i==currentPage?'active':''" *ngFor="let page of pages; let i=index">
                    <a (click)="getAnnonces(i)">{{i+1}}</a></li>
        </ul>

    </div>
    <div *ngIf="annoncesList" >
        <div class="jobs-item with-thumb" *ngFor="let annonce of annoncesList">
            <div class="thumb"><img src="./assets/img/annoncesDetails.jpg" alt="Annonce"></div>
            <div class="clearfix visible-xs"></div>
            <div class="date">{{annonce.dateDebutPublication | date:'dd'}} <span>{{annonce.dateDebutPublication | date:'yyyy-MM'}}</span></div>
            <h6 class="title"><a (click)="onRedirect(annonce.id)" >{{annonce.libelle}}</a></h6>
            <span class="meta">Du {{annonce.dateDebutTravail | date:'dd-MM-yyyy'}} Au {{annonce.dateFinTravail | date:'dd-MM-yyyy'}}</span>

            <p class="description">{{ (annonce?.detail.length>180)? (annonce?.detail | slice:0:180)+'..':(annonce?.detail) }}<a (click)="onRedirect(annonce.id)" class="read-more">Lire la suite</a></p>
    <!---->
        </div>
    </div>

    <div class="clearfix">
        <ul class="pagination pull-right">
            <li [ngClass]="i==currentPage?'active':''" *ngFor="let page of pages; let i=index">
                <a (click)="getAnnonces(i)">{{i+1}}</a></li>
            
    </ul>
    </div>
</div> <!-- end .page-content -->
