<div id="page-content" 
*ngIf="professions && villes && participant">
    <div class="container">
        <div class="row">
            <div 
                class="white-container sign-up-form">
                <form #participantForm="ngForm"
                        (ngSubmit)="participantForm.form.valid && onSubmit()"
                        novalidate>
                    <div>
                        <h2>Modifier vos données</h2>
    
                        <section>
                            <h6 class="bottom-line">Vous ETES:</h6>

                            
                            <div class="radio-inline">
                                <label>
                                    <input 
                                        [(ngModel)]="participant.genre"
                                        type="radio"
                                        [value]="true"
                                        name="gender">Homme
                                    </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input 
                                        [(ngModel)]="participant.genre"
                                        type="radio"
                                        [value]="false"
                                        name="gender">Femme</label>
                            </div>

                        </section>
                        <section>
                            <h6 class="bottom-line">INFORMATIONS PERSONNELLES:</h6>
                            <div class="row">
                                <div class="col-sm-8">
                                <h6 class="label">Nom Complet</h6>
                                    <div class="col-sm-6">
                                        <input 
                                            type="text"
                                            [(ngModel)]="participant.nom"
                                            name="nom"
                                            #nom="ngModel"
                                            [ngClass]="{ 'is-invalid': participantForm.submitted && nom.invalid }"
                                            minlength="4"
                                            maxlength="20"
                                            required 
                                            class="form-control"
                                            placeholder="NOM">
                                            <span *ngIf="participantForm.submitted && nom.invalid" class="alertInput">
                                                <span *ngIf="nom.errors?.required">Ce champ est Obligatoire</span>
                                                <span *ngIf="nom.errors?.minlength">Nombre de Caractaire requis est  {{nom.errors?.minlength?.actualLength}} \ {{nom.errors?.minlength?.requiredLength}}</span>
                                            </span>
                                    </div>
    
                                    <div class="col-sm-6">
                                        <input 
                                            type="text"
                                            [(ngModel)]="participant.prenom"
                                            name="prenom"
                                            #prenom="ngModel"
                                            [ngClass]="{ 'is-invalid': participantForm.submitted && prenom.invalid }"
                                            required
                                            minlength="4"
                                            maxlength="20" 
                                            class="form-control"
                                            placeholder="PRENOM">
                                            <span *ngIf="participantForm.submitted && prenom.invalid" class="alertInput">
                                                <span *ngIf="prenom.errors?.required">Ce champ est Obligatoire</span>
                                                <span *ngIf="prenom.errors?.minlength">Nombre de Caractaire requis est  {{prenom.errors?.minlength?.actualLength}} \ {{prenom.errors?.minlength?.requiredLength}}</span>
                                            </span>
                                    </div>
                                </div>
                                    <div class="col-sm-4">
                                        <h6 class="label">Email</h6>
                                        <input type="email"
                                                [(ngModel)]="participant.email"
                                                name="email"
                                                #email="ngModel"
                                                [ngClass]="{ 'is-invalid': participantForm.submitted && email.invalid }"
                                                required
                                                email
                                                class="form-control"
                                                placeholder="email@domaine.com">
                                                <span *ngIf="participantForm?.submitted && email?.invalid" class="alertInput">
                                                    <span *ngIf="email.errors?.required">Ce champ est Obligatoire</span>
                                                    <span *ngIf="email.errors?.email">Adresse e-mail invalide</span>
                                                </span>
                                    </div>                               
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="label">Date de Naissance</h6>
                                    <input type="date"
                                            [(ngModel)]="participant.dateNaissance"
                                            name="dateNaissance"
                                            #dateNaissance="ngModel"
                                            [ngClass]="{ 'is-invalid': participantForm.submitted && dateNaissance.invalid }"
                                            required
                                            placeholder="dd-mm-yyyy">
                                            
                                            <span 
                                                *ngIf="participantForm?.submitted && dateNaissance?.invalid"
                                                class="alertInput">
                                                <span 
                                                    *ngIf="dateNaissance.errors?.required">Ce champ est Obligatoire</span>
                                            </span>
                                </div>
                            
                                <div class="col-sm-4">
                                    <h6 class="label">Téléphone</h6>
                                    <input type="text"
                                        [(ngModel)]="participant.tel"
                                        name="tel"
                                        #tel="ngModel"
                                        [ngClass]="{ 'is-invalid': participantForm.submitted && tel.invalid }"
                                        required
                                        minlength="10"
                                        class="form-control"
                                        placeholder="Téléphone">
                                        <span *ngIf="participantForm?.submitted && tel?.invalid" class="alertInput">
                                            <span *ngIf="tel.errors?.required">Ce champ est Obligatoire</span>
                                            <span *ngIf="tel.errors?.minlength">N°Téléphone invalide</span>
                                        </span>
                                </div>
    
                                <div class="col-sm-4">
                                    <h6 class="label">Profession</h6>
                                    <select 
                                        [(ngModel)]="participant.profession"
                                        name="profession"
                                        #profession="ngModel"
                                        required
                                        [ngClass]="{ 'is-invalid': participantForm.submitted && profession.invalid }">
                                        <option 
                                            *ngFor="let p of professions"
                                            [ngValue]="p?.idProfession">
                                            {{p.libelleProfession}}</option>
                                    </select>
                                    
                                    <span *ngIf="participantForm?.submitted && profession?.invalid" class="alertInput">
                                        <span *ngIf="profession.errors?.required">Ce champ est Obligatoire</span>
                                    </span>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-sm-6">
                                    <h6 class="label">Adresse</h6>
                                    <input 
                                        type="text"
                                        [(ngModel)]="participant.adresse"
                                        name="adresse"
                                        #adresse="ngModel"
                                        [ngClass]="{ 'is-invalid': participantForm.submitted && adresse.invalid }"
                                        required
                                        class="form-control" 
                                        placeholder="Addresse">
                                        <span *ngIf="participantForm?.submitted && adresse?.invalid" class="alertInput">
                                            <span *ngIf="adresse.errors?.required">Ce champ est Obligatoire</span>
                                        </span>
                                </div>
                                <div class="col-sm-3">
                                    <h6 class="label">Ville</h6>
                                    <select 
                                        [(ngModel)]="participant.ville"
                                        name="ville"
                                        #ville="ngModel"
                                        [ngClass]="{ 'is-invalid': participantForm.submitted && ville.invalid }"
                                        required>
                                            <option 
                                                *ngFor="let v of villes"
                                                [ngValue]="v?.idVille">
                                                {{v.libelleVille}}</option>
                                    </select>
                                    <span *ngIf="participantForm?.submitted && ville?.invalid" class="alertInput">
                                        <span *ngIf="ville.errors?.required">Ce champ est Obligatoire</span>
                                    </span>
                                </div>
                            </div>
                        </section>
                        <section>
                            <h6 class="bottom-line">Login:</h6>
    
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="label">Nom Utilisateur</h6>
                                        <input 
                                            [(ngModel)]="participant.username"
                                            name="username"
                                            #username="ngModel"
                                            type="text"
                                            disabled="disabled"
                                            class="form-control ">
                                </div>
                                <div class="col-sm-8">
                                    <h6 class="label">Mot de passe</h6>
                                <div class="col-sm-6">
                                    <input type="password"
                                        [(ngModel)]="participant.password"
                                        name="password"
                                        #password="ngModel"
                                        [ngClass]="{ 'is-invalid': participantForm.submitted && password.invalid }"
                                        required
                                        minlength="8"
                                        class="form-control"
                                        placeholder="Mot de passe">

                                        <span *ngIf="participantForm.submitted && password?.invalid" class="alertInput">
                                            <span *ngIf="password.errors?.required">Ce champ est Obligatoire</span>
                                            <span *ngIf="password.errors?.minlength">Nombre de Caractaire requis est  {{password.errors?.minlength?.actualLength}} \ {{password.errors?.minlength?.requiredLength}}</span>
                                        </span>
                                </div>
    
                                <div class="col-sm-6">
                                    <input type="password"
                                        [(ngModel)]="participant.repassword"
                                        name="repassword"
                                        #repassword="ngModel"
                                        [ngClass]="{ 'is-invalid': participantForm.submitted && repassword.invalid }"
                                        required
                                        pattern="{{participant.password}}"
                                        class="form-control"
                                        placeholder="Répéter le mot de passe">
                                        <span *ngIf="participantForm.submitted && repassword?.invalid" class="alertInput">
                                            <span *ngIf="repassword.errors?.required">Ce champ est Obligatoire</span>
                                            <span *ngIf="repassword.errors?.pattern">les mots de passe doivent correspondre</span>
                                        </span>
                                </div>
                            </div>
                            </div>
                        </section>
                    </div>
                    <hr class="mt60">

                    <div class="clearfix">
                        <button  class="btn btn-default btn-large pull-right">submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
