<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-4">
                <div class="widget">
                    <div class="widget-content">
                        <img class="logo" src="./assets/img/header-logo.png" alt="">
                        <p>1° site des recherches scientifiques au MAROC </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <p>&copy; Copyright 2020 | Tous les droits sont réservés | Powered by <a href="https://www.linkedin.com/in/sa%C3%A2d-bel-240857a1/">SAAD BELEFQIH</a></p>

        </div>
    </div>
</footer> <!-- end #footer -->
