<div id="page-content">
    <div class="container">
        <div class="row">
            <div class="white-container sign-up-form">
                <div>
                    <h2>Devenir un Participant</h2>

                    <section>
                        <h6 class="bottom-line">Vous ETES:</h6>

                        <div class="radio-inline">
                            <label><input type="radio"> Homme</label>
                        </div>

                        <div class="radio-inline">
                            <label><input type="radio"> Femme</label>
                        </div>
                    </section>
                    <section>
                        <h6 class="bottom-line">INFORMATIONS PERSONNELLES:</h6>

                        <h6 class="label">Name</h6>

                        <div class="row">
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="NOM">
                            </div>

                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="PRENOM">
                            </div>

                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="NOM UTILISATEUR">
                            </div>
                        </div>

                        <h6 class="label">Date de Naissance</h6>

                        <div class="row">
                            <div class="col-sm-12">
                                <input type="date" placeholder="MM">
                            </div>
                        </div>

                        <h6 class="label">Phone</h6>

                        <div class="row">
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Mobile">
                            </div>

                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Work">
                            </div>

                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Fax">
                            </div>
                        </div>

                        <h6 class="label">Address</h6>

                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="Address 1">
                            </div>

                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="Address 2">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <select>
                                    <option value="">Country</option>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                </select>
                            </div>

                            <div class="col-sm-3">
                                <select>
                                    <option value="">State/Province</option>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                </select>
                            </div>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="City">
                            </div>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="ZIP Code">
                            </div>
                        </div>
                    </section>
                </div>
            </div>

        </div>
    </div>
</div>